@use "sass:math";

$c-black: #000000;
$c-dark-blue: #1D2B53;
$c-purple: #7E2553;
$c-dark-green: #008751;
$c-brown: #AB5236;
$c-dark-grey: #5F574F;
$c-light-grey: #C2C3C7;
$c-white: #FFF1E8;
$c-red: #FF004D;
$c-orange: #FFA300;
$c-yellow: #FFEC27;
$c-green: #00E436;
$c-blue: #29ADFF;
$c-lavender: #83769C;
$c-pink: #FF77A8;
$c-light-peach: #FFCCAA;

@mixin contrast-var($c) {
	$color-brightness: math.div((red($c)*299)+(green($c)*587)+(blue($c)*114), 1000);
	$light-color: math.div((red(#ffffff)*299)+(green(#ffffff)*587)+(blue(#ffffff)*114), 1000);
	@if abs($color-brightness) < math.div($light-color, 2) {
		--c-contrast: #{$c-white};
	}
	@else {
		--c-contrast: #{$c-black};
	}

	--c-main: #{$c};

	background-color: var(--c-main);
	color: var(--c-contrast);
}

@font-face {
	font-family: "DOS";
	src: url("/asset/font/DOS.ttf");
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: DOS, monospace;
	color: white;

	$line-color: #222f44;
	background-color: $c-dark-blue;
	background-image:
		linear-gradient(0deg, transparent 50%, $c-dark-blue 50%),
		linear-gradient(90deg, $c-dark-blue 50%, $c-black 50%);
	background-size: 4px 4px;
	background-position: 2px 2px, 2px 12px, 12px -8px, -8px 2px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

svg {
	display: none;
}

[accesskey] {
	@media(min-width: 800px) {
		.accessKeyHighlight {
			position: relative;

			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 2px;
				left: 0;
				right: 2px;
				height: 2px;
				background-color: var(--access-key-contrast);
			}
		}
	}
}

::selection {
	background-color: $c-red;
	color: $c-black
}

#screen {
	position: relative;
	//transition: scale 0.5s ease-in-out;
	image-rendering: crisp-edges;

	@media(min-width: 800px) {
		cursor: none;

		a {
			cursor: none;

			&:hover,&:focus {
				box-shadow: inset 0 0 0 1px white;
				outline: none;
			}
		}
	}

	#mouse {
		position: absolute;
		z-index: 100;
		pointer-events: none;
	}
}

main {
	background-color: $c-blue;
	background-image:
					linear-gradient(0deg, transparent 50%, $c-dark-blue 50%),
					linear-gradient(90deg, $c-dark-blue 50%, $c-black 50%);
	background-size: 4px 4px;
	background-position: 2px 2px, 2px 12px, 12px -8px, -8px 2px;

	width: 100vw;
	height: 100svh;

	@media(min-width: 800px) {
		width: 800px;
		height: 600px;
	}

	>section {
		position: relative;
		display: flex;
		justify-content: stretch;
		align-items: stretch;
		box-sizing: border-box;
		border: 6px double;

		&#graphics {
			@include contrast-var($c-black);

			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100vw;
			aspect-ratio: 1;
			display: flex;
			justify-content: stretch;
			align-items: stretch;

			@media(min-width: 800px) {
				width: 128px * 3;
				border-bottom: 6px double;
			}
		}
		&#menu {
			@include contrast-var($c-dark-grey);

			position: absolute;
			top: calc(100vw - 6px);
			left: 0;
			right: 0;
			height: 64px;
			display: flex;

			@media(min-width: 800px) {
				flex-wrap: wrap;
				top: calc((128px * 3) - 6px);
				right: auto;
				width: 128px * 3;
				height: 128px + 12px;
			}

			>a {
				@include contrast-var($c-dark-grey);
				box-sizing: border-box;
				width: 25%;
				text-decoration: none;
				display: flex;
				justify-content: center;
				align-items: center;
				border-right: 2px solid;
				text-transform: uppercase;

				&:nth-of-type(4) {
					border-right: none;
				}

				@media(min-width: 800px) {
					width: 50%;
					height: 64px;
					border-bottom: 2px solid;

					&:nth-of-type(odd) {
						border-right: 2px solid;
					}
					&:nth-of-type(even) {
						border-right: none;
					}
					&:nth-of-type(n + 3) {
						border-bottom: none;
					}
				}
			}
		}

		&#location {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			position: absolute;
			top: calc(100vw + 64px - 12px);
			left: 0;
			right: 0;
			text-align: center;

			@media(min-width: 800px) {
				right: auto;
				top: auto;
				bottom: 0;
				width: 128px * 3;
			}

			>a {
				@include contrast-var($c-purple);				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				font-size: 1rem;
				padding: 8px;
				height: 64px;

				&[href="/location/"] {
					flex-grow: 1;
					align-items: flex-start;
					border-right: 2px solid;
				}
				&[href="/location/details/"] {
					@include contrast-var($c-lavender);
					width: calc(100% / 4);
				}
			}
		}

		&#log {
			@include contrast-var($c-dark-blue);
			position: absolute;
			top: calc(100vw + 128px);
			bottom: 64px;
			border-top: none;
			border-bottom: none;
			width: 100%;

			@media(min-width: 800px) {
				top: 0;
				left: 50%;
				right: 0;
				width: auto;
				border-top: 6px double;
				border-bottom: 6px double;
				bottom: 64px + 18px;
			}

			>div {
				p {
					margin: 1rem;
				}
			}
		}

		&#actions {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			justify-content: stretch;

			@media(min-width: 800px) {
				left: 50%;
			}

			>a {
				@include contrast-var($c-brown);
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: calc(64px - 12px);
				text-decoration: none;
				padding: 8px;

				@media(min-width: 800px) {
					height: 64px;
				}

				&[href^="/action/"] {
					display: none;
					flex-grow: 1;
					flex-wrap: wrap;
					border-right: 2px solid;
					align-items: flex-start;

					&.selected {
						display: flex;
					}
				}
				&[href="#"] {
					@include contrast-var($c-orange);
					width: calc(100% / 4);
					text-transform: uppercase;
				}
			}
		}
	}
}
